secrets.env
version
podcast-stripper/transcript.pickle
podcast-manager/podcasts/
podcast-manager/cheat-sheet.md
hugo-src/public/
hugo-src/themes/
hugo-src/.hugo_build.lock
**/cheat-sheet.*
**/venv/
**/__pycache__/
